.bodywrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    /* Ajusta esto según tus necesidades */
}

.title {
    text-align: center;
    color:#fff
}

.exchangewrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.input{
    border: 1px solid #333;
    border-radius: .3em;
    padding:.25rem;
    width:7em;
}

.CurrencySelectBox{
    margin-left: .5rem;
}

.equals{
    font-weight: bold;
    font-size: 2rem;
    color:#fff
}